# .NET
bin/
obj/
*.user
*.suo
*.cache
*.db
*.db-shm
*.db-wal
.vs/

# Node / Angular
client/node_modules/
client/dist/
client/.angular/

# IDE
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Environment
*.env
